name: CI/CD Pipeline
run-name: "CI/CD Pipeline - target: ${{ github.event.inputs.release_target }}"

on:
  workflow_dispatch:
    inputs:
      release_target:
        description: "Furthest environment to deploy to"
        required: true
        default: devnet
        type: choice
        options:
          - devnet
          - testnet
          - mainnet

jobs:
  push:
    name: Build and Publish images
    runs-on: ubuntu-latest
    steps:
      - name: Build and publish images
        run: echo "Publishing images..."

  deploy_devnet:
    name: Deploy Devnet
    runs-on: ubuntu-latest
    needs: push
    environment:
      name: devnet
      url: https://dev.sixsigmasports.app

    concurrency:
      group: devnet

    steps:
      - name: publish-images
        run: echo "Publishing images..."
      - name: Deploy to devnet
        run: echo "Deploying to devnet"

  deploy_testnet:
    name: Deploy Testnet
    runs-on: ubuntu-latest
    needs: deploy_devnet
    if: github.event.inputs.release_target == 'testnet' || github.event.inputs.release_target == 'mainnet'
    environment:
      name: testnet
      url: https://testnet.sixsigmasports.app

    concurrency:
      group: testnet

    steps:
      - name: Deploy to testnet
        run: echo "Deploying to testnet"

  deploy_mainnet:
    name: Deploy Mainnet
    runs-on: ubuntu-latest
    needs: deploy_testnet
    if: github.event.inputs.release_target == 'mainnet'
    environment:
      name: mainnet
      url: https://sixsigmasports.app

    concurrency:
      group: mainnet

    steps:
      - name: Deploy to mainnet
        run: echo "Deploying to mainnet"
